@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
}

#contener {
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;

}

.four {
    width: 85%;
}

.h-four {
    font-family: "Roboto Slab", serif;
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 300%;
    width: 95%;
}

.select-four {
    width: 85%;
}

.general {
    width: 70%;
    border-radius: 5%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.text {
    width: 93%;
    font-size: 140%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 3%;
}

.girl {
    width: 25%;
}

.fb {
    margin-bottom: 5%;
    border-radius: 3%;
    display: flex;
    gap: 10px;
}

.inner-cont {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.inner-cont img {
    width: 15%;
}

#green {
    width: 100%;
    padding-left: 7.5%;
    display: flex;
    align-items: center;
    background-color: #9DC9C8;
}

.h-four-green {
    font-family: "Roboto Slab", serif;
    font-size: 300%;
    margin-top: 15%;
    margin-bottom: 8%;
}

.box-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    row-gap: 15px;
}

.green-p-one {
    font-size: 200%;
}

.green-p-tree {
    font-size: 500%;
    margin-bottom: 8%;
}

.green-p-two {
    font-size: 1500%;
}

.inner-box {
    width: 100%;
    font-size: 10%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20%;
}

.green-p-four {
    font-size: 1900%;
}

#black {
    width: 100%;
    background-color: #000000;
}

.inner-connection p {
    margin-left: 8%;
    color: #FFFFFF;
    font-size: 120%;
}

.inner-connection {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}
 .inner-foot{
    padding-top: 3%;
    margin-left: 7.5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "sinxro-logo inner-connect"
    "connect connect"
    "c c";
    column-gap: 350px;
 }

 .sinxro-logo{
    grid-area: sinxro-logo;
 }
 .inner-connect{
    grid-area: inner-connect;
 }
 .connect{
    grid-area: connect;
 }
 .c{
    grid-area: c;
 }
 .connect{
    margin-top: 2%;
 }
.c {
    font-size: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #FFFFFF;
}

.sinxro-logo {
    width: 10%;

}
#contener h3 {
    width: 150%;
    font-size: 115%;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .h-four-green {
        font-family: "Roboto Slab", serif;
        font-size: 290%;
        margin-top: 15%;
        margin-bottom: 8%;
    }
    .general{
        width: 80%;
    }
    .green-p-one {
        font-size: 190%;
    }
    
    .green-p-tree {
        font-size: 490%;
    }
    
    .green-p-two {
        font-size: 1490%;
    }
    .inner-box {
        font-size: 8%;
    }
    .green-p-four {
        font-size: 1890%;
    }
    .inner-connection p {
        font-size: 110%;
    }
}
@media screen and (min-width: 320px ) and ( max-width: 992px ) {
    .h-four-green {
        font-family: "Roboto Slab", serif;
        font-size: 280%;
        margin-top: 15%;
        margin-bottom: 8%;
    }
    .general{
        width: 100%;
    }
    .green-p-one {
        font-size: 180%;
    }
    
    .green-p-tree {
        font-size: 450%;
    }
    .inner-foot{
        padding-top: 3%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "sinxro-logo"
        "connect"
        "inner-connect"
        "c";
     }
    .green-p-two {
        width: 100%;
        font-size: 1480%;
    }
    .inner-box {
        width: 90%;
        font-size: 8%;
    }
    .green-p-four {
        width: 100%;
        font-size: 1880%;
    }
    .inner-connection p {
        margin-left: 3%;
        font-size: 100%;
    }
    
}