@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.informal-list{
    margin-bottom: 120px;
}
.informal-list, .cards-container{
    width: 85%;
}
.cards-container{
    margin-bottom: 100px;
}
.inner-cont{
    width: 662px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.inner-cont h2, .cards-cont h2{
    font-family: "Roboto Slab", serif;
    font-size: 45px;

}
.inner-cont ul{
    margin-left: 50px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards-cont{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.cards-list{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 30px;
}
.card{
    width: 383px;
    min-width: 180px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    box-shadow:0 0 10px rgb(92, 92, 92);
    border-radius: 29px;
}
.card img{
    width: 100%;
}
.inner-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.inner-card h3{
    width: 320px;
    font-size: 22px;
    height: 20%;
}
.inner-card p{
    font-size: 15px;
}

@media  screen and (min-width:1009px) and (max-width:1250px){
    .inner-card{
        width: 92%;
        gap: 25px;
    }
    .inner-card p{
        font-size: 13px;
    }
    .inner-card h3{
        font-size: 18px;
    }
    .card{
        width: 31%;
        height: 220px;
        border-radius:25px
    }
}
@media screen and (min-width:1009px) and (max-width:1116px){

.inner-card{
    gap: 35px;
}
.inner-card h3{
    width: fit-content;
}
.card{
    border-radius:23px
}
}

@media screen and (min-width:992px) and (max-width:1008px){
    .inner-card{
        gap: 23px;
    }
    .card{
        width: 30%;
        height: 215px;
    }
    .inner-card h3{
        width: fit-content;
        font-size: 17px;
        height: 40px;
    }
    .inner-card p{
        font-size: 12px;
    }
}

@media screen and (min-width:320px) and (max-width:991px){
    .inner-cont ul{
        width: 900px;
        margin-left: 190px;
    }
    .inner-card h3{
        width: fit-content;
        margin-bottom: 20px;
    }
    .inner-cont h2, .cards-cont h2{
        margin-left: 130px;
        font-size: 75px;
    }
    .cards-cont{
        width: 220%;
    }
    .cards-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    .card{
        border-radius:80px;
        width: 50%;
        height: 640px;

    }
    .inner-card{
        gap: 90px;
    }
    .inner-cont ul {
        font-size: 33px;
    }
    .inner-card h3{
        font-size: 55px;
    }
    .inner-card p{
        font-size: 30px;
    }
}
@media screen and (min-width:320px) and (max-width:972px){
    .card{
        border-radius:64px
    }
    .inner-card{
        gap: 100px;
    }
}
@media screen and (min-width:320px) and (max-width:900px){
    .inner-cont h2, .cards-cont h2{
        font-size: 56px;
    }
    
    .card{
        height: 25%;
        border-radius:55px
    }
    .inner-card{
        gap: 50px;
    }
    .inner-card h3{
        font-size: 48px;
    }
    .inner-card p{
        font-size: 28px;
    }
    .texts{
        margin-bottom: 20px;
    }
}
@media screen and (min-width:320px) and (max-width:898px){
    .card{
        border-radius: 63px;
    }
}
@media screen and (min-width:320px) and (max-width:848px){
    .card{
        border-radius:58px
    }
}
@media screen and (min-width:320px) and (max-width:821px){
    .card{
        border-radius:54px
    }
}
@media screen and (min-width:320px) and (max-width:720px){
    .card{
        border-radius:48px
    }
}
@media screen and (min-width:320px) and (max-width:684px){
    .inner-cont h2, .cards-cont h2{
        font-size: 50px;
    }
    .inner-cont ul{
        width: 600px;
        font-size: 24px;
    }
    .inner-card h3{
        font-size: 35px;
    }
    .card{
        border-radius: 46px;
    }
    .inner-card p{
        font-size: 23px;
    }
}
@media screen and (min-width:320px) and (max-width:627px){
    .card{
        border-radius:43px
    }
}
@media screen and (min-width:400px) and (max-width:540px) {
    .inner-cont h2, .cards-cont h2{
        margin-left: 25px;
        font-size: 52px;
    }
    .inner-cont ul{
        margin-left: 100px;
    }
    .inner-card{
        gap: 40px;
    }
    .card{
        border-radius: 38px;
    }
    .inner-card h3{
        font-size: 33px;
    }
    .inner-card p{
        font-size: 21px;
    }
    
}
@media screen and (min-width:320px) and (max-width:495px){
    .card{
        border-radius:33px
    }
}
@media screen and (min-width:320px) and (max-width:400px){
    .inner-cont h2, .cards-cont h2{
        margin-left: 10px;
        font-size: 45px;
    }
    .inner-cont ul{
        margin-left: 50px;
        font-size: 20px;
    }
    .inner-card{
        gap: 1rem;
    }
    .card{
        border-radius:28px
    }
    .inner-card h3{
        font-size: 25px;
    }
    .inner-card p{
        font-size: 19px;
    }
}
@media screen and (min-width:320px) and (max-width:350px){
    .inner-cont h2, .cards-cont h2{
        margin-left: 0;
        font-size: 45px;
    }
    .card{
        margin-left: 40px;
    }
}
.cards-container{
    margin-bottom: 85px;
}